
.btn {
  background-color: #4b4276; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 10px; /* Some padding */
  font-size: 13px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  float: right;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #594f8d;
}