<app-navbar></app-navbar>
<div style="position:relative; left:210px">
<div class="row">
    <div class="column" style="background-color:white;">
        <app-piechart>  </app-piechart>
    </div>
    <div class="column" style="background-color:white   ;">
        <app-linechart></app-linechart>
    </div>
</div><br><br>

<div class="row">
    <div class="column" style="background-color:white;">
        <app-canlinechart></app-canlinechart>
    </div>
    <div class="column" style="background-color:white;">
       <app-locpiechart></app-locpiechart>
    </div>
</div>
</div>